.fundo-lista {
    background-color: #fff;
    border-radius: 5px;
    padding-top: 15px;
    width: 1200px
  }
  
  .link {
    text-decoration: none;
    font-weight: 500;
    color: #000;
  }
  
  .nomes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    margin-left: 5px;
  }
  
  .img-cartola {
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .p1 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .p2 {
    font-size: 14px;
    margin-top:1px ;
  }
  
  .link:hover {
    text-decoration: none;
    color: #000;
  }
  
  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 1000px;
  }
  
  .times {
    flex-direction: row;
    display: flex;
    align-items: center;

  }
  